<html lang="en">
<head>{{title}}</head>
<body>
<div class='body-container'>
<h1>{{ticketName}}</h1>

<div id='navbar'>
    <a href='open'>Open Tickets</a>
    <a href='resolved'>Resolved Tickets</a>
    <a href='closed'>Closed Tickets</a>
</div>

<h2>Ticket ID: {{ticketId}}</h2>
<p>{{assignedMember}}</p>
<p> All ticket info here </p>
</div>
<div class='comment-box'>
<form name='comment' action='/comments' method='POST'>
</div>
<div class='comments'>
<div class='comment-container'>
<h3>Michael Hunt</h3>
<p>Wow this is such a good find! Nice work : ) </p>
</div>
</div>
</body>
</html>