<html lang="en">

<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Open Tickets</h1>

    <h1>Hello this is a header</h1>
    <div class='body-container'>
        <div class='ticket-container'>
            <div class='ticket-header'>
                <h2>{{ticketType}}</h2>
            </div>
            <div class='ticket-content'>
                <h2>Open</h2>
                <h3>John Smith</h3>
                <h4>Ticket ID: 0001</h4>
                <p>Description: Bug within code</p>
                <p>06/12/2020
                <p>
                    <button onClick="location.href='/comments'" type='button' id='commentButton'>
                        Comments
                    </button>
            </div>
            <div class='ticket-container'>
            <div class='ticket-header'>
                <h2>{{ticketType}}</h2>
            </div>
            <div class='ticket-content'>
                <h2>Open</h2>
                <h3>Maggie Turner</h3>
                <h4>Ticket ID: 0002</h4>
                <p>Description: Another bug </p>
                <p>05/12/2020
                <p>
                    <button onClick="location.href='/comments'" type='button' id='commentButton'>
                        Comments
                    </button>
            </div>
            <div class='ticket-container'>
            <div class='ticket-header'>
                <h2>{{ticketType}}</h2>
            </div>
            <div class='ticket-content'>
                <h2>Resolved</h2>
                <h3>Jason Bourne</h3>
                <h4>Ticket ID: 0003</h4>
                <p>Description: Bug within code</p>
                <p>05/12/2020
                <p>
                    <button onClick="location.href='/comments'" type='button' id='commentButton'>
                        Comments
                    </button>
            </div>
            <div class='ticket-container'>
            <div class='ticket-header'>
                <h2>{{ticketType}}</h2>
            </div>
            <div class='ticket-content'>
                <h2> Closed </h2>
                <h3>Tina Turner</h3>
                <h4>Ticket ID: 0004</h4>
                <p>Description: Another bug in the code</p>
                <p>04/12/2020
                <p>
                    <button onClick="location.href='/views/comments'" type='button' id='commentButton'>
                        Comments
                    </button>
            </div>
        </div>
    </div>
</body>

</html>