<html lang="en">
<head>
<title>{{title}}</title>
</head>
<body>
<h1>Open Tickets</h1>

<h1>Hello this is a header</h1>
<div class='body-container'>
<div class='ticket-container'>
<div class='ticket-header'>
<h2>{{ticketType}}</h2>
</div>
<div class='ticket-content'>
<h3>{{assignedMember}}</h3>
<h4>{{ticketName}}</h4>
<p>{{ticketDescription}}</p>
<p>{{ticketDate}}<p>
<button onClick="location.href='comments'" type='button' id='commentButton'>
Comments
</button>
</div>
</div>
</div>
</body>
</html>