<html lang="en">
<head>{{title}}</head>
<body>
</h1>Log In</h1>
<div class='body-container'>
<form name='login' action='/login' method='POST'>
<div class='username'><input type='text' name='username' id='user' placeholder='Enter Username' required/>
</div>
<div class='password'><input type='password' name='password' id='pass' placeholder='Enter password' required/>
</div>
<div class='loginButton'><input type='submit' value='Login'>
</div>
</form> 
</div>
</body>
</html>